* {
    margin: 0px;
}
    body{
    color: white;
    font-family: Helvetica, 'Arial Narrow Bold', sans-serif; 

}
 
  div {
    display: inline-block;
    height: 200px;   
    width: 33.4%;
    margin: -2.33px;
    position: relative;  
  }
  
  .section1{
    background-color: rgb(180, 180, 180);
  }
  .section2{
    background-color: rgb(180, 180, 180);
  }
  .home{
    background-color:#f1c40f;
  }
  .about{
    background-color: #ffa500;
  }
  .portfolio{
    background-color: #ff0000;
  }
  .clients{
    background-color: #008000;
  }
  .sup{
    background-color: #3498db;
  }
  .contact{
    background-color: #800080;
  }
  h1{
    text-align:center;
    text-transform:uppercase;
  }
  h3{
    
    font-variant: small-caps;
    word-spacing: 50em;
    
  }

  div > p {
font-style: normal ;
font-variant:inherit;
position:absolute;
bottom: 20px;
  }

